* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: none;
  cursor: pointer;
}

.datePicker {
  width: 218px;
  margin: 50px auto;
}

.datePickerNav {
  position: relative;
  height: 40px;
}

.datePickerNav__content {
  height: 100%;
}

.datePickerNav__current {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  padding: 8px 0;
  vertical-align: top;
}

.datePickerNav__currentMonth,
.datePickerNav__currentYear,
.datePickerNav__yearText,
.datePickerNav__yearButtons {
  display: inline-block;
  font-size: 12px;
}

.datePickerNav__yearText {
  margin-left: 5px;
}

.datePickerNav__yearButtons {
  vertical-align: bottom;
}

.datePickerNav__yearButton--prev,
.datePickerNav__yearButton--next {
  display: block;
  width: 10px;
  height: 10px;
  font-size: 10px;
}

.datePickerNav__monthButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  background-color: #fff;
  color: #ccc;
}

.datePickerNav__monthButton--prev {
  left: 0;
}

.datePickerNav__monthButton--next {
  right: 0;
}

.datePickerCal {
  width: 100%;
}

.weekRowHeader__dayCell {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding-top: 4px;
  vertical-align: top;
  text-align: center;
  font-weight: 600;
}

.dayCell {
  display: inline-block;
  position: relative;
  vertical-align: top;
  background-color: #fff;
}

.dayCell__content {
  width: 31px;
  height: 30px;
  padding: 6px 7px;
  border-left: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
  background-color: #fff;
  color: #ccc;
}

.dayCell__content:hover {
  background-color: #ccc;
  color: #fff;
}

.dayCell--disabled .dayCell__content {
  opacity: 0;
}

.dayCell--active .dayCell__content {
  background-color: #ccc;
  color: #fff;
}

.dayCell--enabled .dayCell__content {
  cursor: pointer;
}

.dayCell--disabled:last-of-type .dayCell__content {
  position: relative;
  right: -1px;
  height: 31px;
  border-left: 0;
  background-color: #fff;
  opacity: 1;
}

.weekRow {
  position: relative;
  width: 218px;
  height: 31px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.weekRowHeader + .weekRow {
  height: 32px;
  border-top: 1px solid #ccc;
}

.weekRowHeader + .weekRow .dayCell--disabled {
  top: -1px;
}

.weekRow:last-of-type .dayCell--disabled {
  height: 31px;
}

.weekRow:last-of-type .dayCell--enabled + .dayCell--disabled {
  width: 31px;
  border-left: 1px solid #ccc;
}
